.sublist {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;

  list-style: none;
}

.sublist__button {
  position: absolute;
  top: 45vh;
  width: 0;
  height: 0;
  border-style: solid;
  background-color: transparent;

  cursor: pointer;
  pointer-events: none;
}

.sublist__button--left {
  left: 10px;

  border-width: 50px 25px 50px 0;
  border-color: transparent @button-gallery transparent transparent;
}

.sublist__button--right {
  right: 10px;

  border-width: 50px 0 50px 25px;
  border-color: transparent transparent transparent @button-gallery;
}
