<header class="header">
  <img class="header__icon" src="img/paint.svg">
  <div class="header__timeline timeline">
    <button class="timeline__toggle" type="button">Timeline ⟶</button>
    <ul class="timeline__list">
      <li class="timeline__date">
        <a class="timeline__link" href="#">2020</a>
      </li>
      <li class="timeline__date">
        <a class="timeline__link" href="#">2019</a>
      </li>
      <li class="timeline__date">
        <a class="timeline__link" href="#">2018</a>
      </li>
      <li class="timeline__date">
        <a class="timeline__link" href="#">2017</a>
      </li>
      <li class="timeline__date">
        <a class="timeline__link" href="#">2016</a>
      </li>
      <li class="timeline__date">
        <a class="timeline__link" href="#">2015</a>
      </li>
      <li class="timeline__date">
        <a class="timeline__link" href="#">2014</a>
      </li>
    </ul>
  </div>
</header>
